

.heading-text{
    font-size: 80px;
    font-family: "Roboto Thin", serif;
    font-weight: bold;
    margin-left: 80px;
}

.heading-text{
    height:30vh;
}
.heading-text{
    height:55vh;
    margin: 0;
    padding: 0;
    width: auto;
    display-outside: ruby-base-container;
}
.library{
    height: 55vh;
    padding-left:30px;
    margin:0;
    width: auto;
}
.book-stu{
    height: 55vh;
    padding-right:40px;
    margin:0;
    width: auto;
}
.grid-container{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:16px;

}

<!--/*carousel*/-->


